<h2>Report your moods to Moodprint via Reporter!</h2>

<p>A mash-up created with love by Jimmy Sieben <a href="https://twitter.com/jimmys">@jimmys</a>, data nerd and programmer.

<h3>How are you feeling?</h3>
<p>
  That's the core question asked by <a href="https://beta.moodprint.com/">Moodprint</a>, a service created by Ben Scofield <a href="https://twitter.com/bscofield">@bscofield</a>.

  I found the service in late 2014 and instantly recognized how useful it would be as part of my life-tracking and quantified self interests. Several times per day, the prompt is emailed to you and your responses are tracked as your moods at that time.
</p>
<p>
  I used it diligently for a few week but found that I was missing many of the prompts. Using email as the means of interacting with the service was just not working well enough for me. I contemplated something that would work better, so that I wouldn't miss so many prompts.
</p>

<h3>Time to Report!</h3>
<p>
  In early 2015, my wfe introduced me to <a href="http://www.reporter-app.com/">Reporter</a>, a life-tracking app created by Nicholas Felton <a href="https://twitter.com/feltron">@feltron</a> and Drew Breunig <a href="https://twitter.com/dbreunig">@dbreunig</a>.
</p>
<p>
  After you setup the app, interacting is simple. Several times a day, the app prompts you with an unobtrusive notification on your iPhone that it is time to report. Each report asks a series of simple questions, and the whole process is designed to take just a few seconds to complete. You can backup your data to <a href="https://www.dropbox.com">Dropbox</a> in either CSV or JSON format. You can even add your own questions to track.
</p>
<p>
  Immediately I knew I was going to love this app. The simple process was fun, and it did not take long for me to realize there was a natural synergy between Moodprint and Reporter. So I thought, why not connect the apps together?
</p>

<h3>Enter the Mashup</h3>
<p>
  To get started, follow these steps:
</p>
  <ol>
  	<li>Login with your Dropbox account and authorize access to Text files so that I can find the JSON outputs.</li>
  	<li>Enter the email address that you have registered with Moodprint.</li>
  	<li>Enable Dropbox export to JSON in Reporter</li>
  </ol>
<p>
  Now, whenever a reporter JSON output is added or updated, this app will get a notification. I'll quickly scan the updated file for your latest moods, and then email them to Moodprint on your behalf. That's it!
</p>

<p>
  Let's get started! Login with Dropbox to begin reporting your moods.
</p>

<h3>Learn more</h3>
<p>
	Contact Jimmy on Twitter: <a href="https://twitter.com/jimmys">@jimmys</a>
	<br>
	Find Moodprint on Twitter: <a href="https://twitter.com/moodprintapp">@moodprintapp</a>
	<br>
	Find Reporter on Twitter: <a href="https://twitter.com/GetReporter">@GetReporter</a>
	<br>
</p>